@import "tailwindcss";

:root {
  --primary: #BD0A0A;
  --secondary: #01016F;
  --text: #181A17;
  --text-grey: #767676;
  --background: #FAF9F5;
  --card: #FFFFFF;

  --font-primary: var(--font-ibm-sans), 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  --font-secondary: var(--font-ibm-mono), 'IBM Plex Mono', SFMono-Regular, Consolas, monospace;
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-text: var(--text);
  --color-text-grey: var(--text-grey);
  --color-background: var(--background);
  --color-card: var(--card);

  --font-primary: var(--font-primary);
  --font-secondary: var(--font-secondary);
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: var(--font-primary);
  min-height: 100vh;
}